= content_for :new_user do
  %h3
    Sign up
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      .alert 
        %button.close{type:"button", data:{dismiss:"alert"}}
          x
        = devise_error_messages!
      .form-horizontal
        .control-group
          .control-label
            = f.label :username
          .controls
            = f.text_field :username
        .control-group
          .control-label
            = f.label :email
          .controls
            = f.email_field :email
        .control-group
          .control-label
            = f.label :password
          .controls
            = f.password_field :password
        .control-group
          .control-label
            = f.label :password_confirmation
          .controls
            = f.password_field :password_confirmation
        .controls
          = f.submit "Sign up", :class => "btn btn-primary"