= form_for @post, url: create_post_path do |f|
  = f.label :content, "Content:"
  = f.text_area :content, placeholder: "Add your feedback ...", rows: 7
  %br
  %br
  = f.label :project_id, "Project: (Optional)"
  = f.collection_select :project_id, @projects, :id, :name, prompt: true
  %br
  %br
  .control-group
    .controls
      .checkbox
        = f.check_box :post_with_identity
        = f.label :post_with_identity, "Post with your identity", type: "checkbox"
  %br
  %br
  = f.submit "Create Post", class: "btn btn-primary"