.well.clearfix
  - if @post.project
    %h4
      = @post.project.name
  %h5
    - if @post.user
      = @post.user.username
    - else
      Anonymous

  = @post.content
  <br/>
  .pull-right
    - if current_user.down_voted?(@post)
      .icon-thumbs-up
      = link_to "Agree (#{@post.up_votes})", vote_up_post_path(id: @post)
      |
      .icon-thumbs-down
      = link_to "Disagreed (#{@post.down_votes})", nullify_vote_path(id: @post)
    - elsif current_user.up_voted?(@post)
      .icon-thumbs-up
      = link_to "Agreed (#{@post.up_votes})", nullify_vote_path(id: @post)
      |
      .icon-thumbs-down
      = link_to "Disagree (#{@post.down_votes})", vote_down_post_path(id: @post)
    - else
      .icon-thumbs-up
      = link_to "Agree (#{@post.up_votes})", vote_up_post_path(id: @post)
      |
      .icon-thumbs-down
      = link_to "Disagree (#{@post.down_votes})", vote_down_post_path(id: @post)
    %br
    .pull-right
      - if current_user && current_user.user_role == "admin"
        = link_to "Delete", destroy_post_path(@post), :confirm => 'Are you sure?', :method => :delete